<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.testng.SkipTestCasesDemo"/>
      <class name="testNG.testng.LoginTest"/>
      <class name="testNG.testng.LoginTest2"/>
      <class name="testNG.testng.GroupsDemo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
